<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="/static/bootstrap-3.3.7-dist/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/index.css" crossorigin="anonymous">
    <title>新词入库</title>


    {# 让ajax的POST方法带上CSRF需要的令牌#}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // 这些HTTP方法不要求CSRF包含
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

    <script>
        function createTask() {
            task_name = document.getElementById("taskName").value;
            dec = document.getElementById("dec").value;
{#            console.log(num.replace(/(^s*)|(s*$)/g, "").length);#}
            if (task_name.replace(/(^\s*)|(\s*$)/g, "") !== ""){
                document.getElementById("msg").style.display ="none";
                $.ajax({
                    url: "/test_App/show_new_words/createTask",
                    type: "POST",
                    data: {"task_name": task_name,"dec":dec},
                    success: function (tasks) {
                        console.log('success create task');
                        obj = document.getElementById("tb");
                        for(i = 0;i <=tasks.length;i++){
                            obj.innerHTML = "<tr><td>"+tasks[i].id+"</td><td>"+ tasks[i].task_name +"</td><td>" + tasks[i].dec +"</td><td>" + tasks[i].status + "</td>\n" +
                            "                <td><a>查看详情</a></td>\n" +
                            "                <td><a>删除</a></td>\n" +
                            "            </tr>"
                        }
                    }
                })
            }else{
                document.getElementById("msg").style.display ="block";
            }
        }
    </script>

    <script>
        function goPage(pno){
            var itable = document.getElementById("tb");
            var rows=itable.rows
            var num = rows.length;//表格所有行数(所有记录数)
            var totalPage = 0;//总页数
            var pageSize = 10;//每页显示行数
            //总共分几页
            if(num/pageSize > parseInt(num/pageSize)){
                totalPage=parseInt(num/pageSize)+1;
            }else{
                totalPage=parseInt(num/pageSize);
            }
            var currentPage = pno;//当前页数
            var startRow = (currentPage - 1) * pageSize+1;//开始显示的行  31
            var endRow = currentPage * pageSize;//结束显示的行   40
            endRow = (endRow > num)? num : endRow;    //40
            console.log(endRow);
            for(var i=1;i<(num+1);i++){
                //遍历显示数据实现分页
                var irow = rows[i-1];
                if(i>=startRow && i<=endRow){
                    irow.style.display = "table-row";
                }else{
                    irow.style.display = "none";
                }
            }
            var pageEnd = document.getElementById("pageEnd");
            var tempStr = "<li>\n" +
                            "      <a href=\"#\" aria-label=\"Previous\">\n" +
                            "        <span aria-hidden=\"true\">&laquo;</span>\n" +
                            "      </a>\n" +
                            "    </li>";

            for(var pageIndex= 1;pageIndex<totalPage+1;pageIndex++){
                tempStr += "<li id=\""+pageIndex+"\"><a  onclick=\"goPage("+pageIndex+");  pageHighLight(" + pageIndex +")\"" + ">" + pageIndex + "</a></li>";
            }

            tempStr += "<li>\n" +
                "      <a href=\"#\" aria-label=\"Next\">\n" +
                "        <span aria-hidden=\"true\">&raquo;</span>\n" +
                "      </a>\n" +
                "    </li>";

            document.getElementById("barcon").innerHTML = tempStr;
        }
    </script>

    <script>
        function pageHighLight(pageId) {
            pageBt = document.getElementById(pageId);
            pageBt.setAttribute("class","active")
        }
    </script>

    <script>
        $(function(){
            var str='show_new_words'
            var path=window.location.pathname
            if(path.indexOf(str)>-1){
                $('#barcon').show()
            }else{
                $('#barcon').hide()
            }
            goPage(1)
            pageHighLight(1)
        })

    </script>

    <script>
        function add_new(word_id) {
            $.ajax({
                url: "/test_App/show_new_words/add_new",
                type: "POST",
                data: {"word_id": word_id},
                success: function (data1) {
                    alert(data1);
                    msgObj = document.getElementById("msg_"+word_id);
                    tempStr = data1;
                    msgObj.innerHTML = tempStr
                }
            })
        }

        function add_stop(word_id) {
            $.ajax({
                url: "/test_App/show_new_words/add_stop",
                type: "POST",
                data: {"word_id": word_id},
                success: function (data1) {
                    alert(data1);
                    msgObj = document.getElementById("msg_"+word_id);
                    tempStr = data1;
                    msgObj.innerHTML = tempStr
                }
            })
        }
    </script>


</head>

<body>
    <div class="container card">
        <div class="page-header row mtb-16">
            <div class="col-lg-9">
                <h1>新词覆盖率 <small>从热门网站上爬取内容进行分词，分为热词和新词两种形式</small></h1>
            </div>
            <div class="col-lg-3 text-right">
                <div class="logo"></div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" id="msg" style="display: none">
            任务名称不能为空
        </div>

        <div class="row mb-16">
            <div class="col-lg-4">
                <div class="btn-group">
                    <form id="form" class="form-inline form-style" method="post">
                        {% csrf_token %}
                        <span> 任务名称 </span>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm w250" name='taskName' id='taskName' >
                        </div>
                        <span> 描述 </span>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm w450" name='dec' id='dec' />
                        </div>
                        <button type="button"  class="btn btn-primary ml-16 btn-xs" onclick="createTask()">Run</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="btn-group" role="group" aria-label="...">
{#                    <a  href="/test_App/show_new_words/1" class="btn btn-default">获取结果</a>#}
{#                    <a  href="/test_App/show_new_words/go_new" class="btn btn-default">进入新词库</a>#}
{#                    <a  href="/test_App/show_new_words/go_stop" class="btn btn-default">查看停用词库</a>#}
                </div>
            </div>

        </div>

        <form role="form" id="t_are" style="display: none">
            <div class="form-group">
                <textarea class="form-control" rows="10"></textarea>
            </div>
        </form>


        <table  class="table table-striped table-hover">
            <colgroup>
                <col style="width: 10%; min-width: 10%;">
                <col style="width: 20%; min-width: 25%;">
                <col style="width: 25%; min-width: 10%;">
                <col style="width: 15%; min-width: 15%;">
                <col style="width: 10%; min-width: 15%;">
                <col style="width: 10%; min-width: 15%;">
            </colgroup>
         <thead >
            <tr>
                <th>序号</th>
                <th>任务名称</th>
                <th>描述</th>
                <th>状态</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tb">
{#            {% for item in new_words_list%}#}
            <tr>
                <td>1</td>
                <td>2018Q1test</td>
                <td>none</td>
                <td>Running...</td>
                <td><a>查看详情</a></td>
                <td><a>删除</a></td>
            </tr>
{#            {% empty %}#}
{#                <p class="text-danger">{{ page_con }}</p>#}
{#            {% endfor %}#}
         </tbody>
        </table>

        <div class="row">
            <div class="col-lg-12 text-right">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="barcon" style="display: none"></ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>